<!-- FOOTER -->
<div class="footer">
				
	<!-- Footer header -->
	<div class="ft-header">
		<h2 class="title"><span>Yetkilim</span></h2>
		<p class="desc">Dijital Memnuniyet Platformu</p>
		<!-- Social media -->
		<div class="socmed mt-3">
			<a href="https://www.facebook.com/yetkilimcom"><i class="fa fa-facebook"></i></a>
			<a href="https://www.instagram.com/yetkilim"><i class="fa fa-instagram"></i></a>
			<a href="https://www.twitter.com/yetkilim"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/company/yetkilim"><i class="fa fa-linkedin"></i></a>
		</div>
	</div>

	<!-- Copyright -->
	<div class="copyright">
		<span>&copy; 2019 Yetkilim mobil</span>
		<!-- footer menu -->
		<div class="ft-menu">
			<a href="#!">Üyelik Sözleşmesi</a>
			<a href="#!">Gizlilik ve Çerez Politikası</a>
			<a href="#!">Bilgilendirme ve Rıza Metni</a>
		</div>
	</div>

</div>
<!-- End FOOTER -->