<!-- Content container -->
<div class="content-container no-padding-top animated fadeInUp">
						
    <div class="not-found center-element">					
        <h1 class="heading">
            404
        </h1>
        <h3 class="subheading">Sayfa Bulunamadı</h3>
        <p>
            Aradığınız sayfa bulunamadı. Adresi doğru yazdığınızdan emin olun.
        </p>
        <a class="btn" href="@Url.Action("Index","Home")">
            <span class="ti-home"></span> ANA SAYFA
        </a>

    </div><!-- .not-found -->

</div><!-- .content-container -->
<!-- END CONTENT CONTAINER -->