@using System.Globalization
@using Yetkilim.Domain.DTO
@model CompanyFeedbacksModel

@{
    ViewData["Title"] = "Index";
}


<style>

   
    .data-table-feedback-1 tr:nth-child(odd) {
        background-color: whitesmoke !important;
    }

    .data-table-feedback-1 tr td {
        border-bottom: 1pt solid black!important;
    }

</style>

<div id="project-dashboard" class="page-layout simple right-sidebar">
    <div class="page-content-wrapper custom-scrollbar">
        <!-- CONTENT -->
        <div class="page-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @*<li class="nav-item">
                    <a class="nav-link btn active" id="home-tab" data-toggle="tab" href="#home-tab-pane" role="tab" aria-controls="home-tab-pane" aria-expanded="true">Home</a>
                </li>*@
                @*<li class="nav-item">
                        <a class="nav-link btn" id="budget-summary-tab" data-toggle="tab" href="#budget-summary-tab-pane" role="tab" aria-controls="budget-summary-tab-pane">Budget Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" id="team-members-tab" data-toggle="tab" href="#team-members-tab-pane" role="tab" aria-controls="team-members-tab-pane">Team Members</a>
                    </li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active p-3" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group row no-gutters">               
                    
                        <div class="col-12 p-3">

                            <div class="widget widget5 card">

                               

                                <div class="widget-content p-4 data-table-feedback-1">

                                    @Html.Raw(ViewBag.Table)
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / WIDGET GROUP -->


                </div>
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
</div>



@section Scripts{
    @*<script>
            $(document).ready(function () {

                @for (int i = 0; i < 8; i++)
                {
                    <text>
                        // Setup - add a text input to each footer cell
                        $('#data-table-feedback@(i) thead tr').clone(true).appendTo('#data-table-feedback@(i) thead');
                        $('#data-table-feedback@(i) thead tr:eq(1) th').each(function (i) {
                            var title = $(this).text();
                            $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                            $('input', this).on('keyup change', function () {
                                if (table.column(i).search() !== this.value) {
                                    table
                                        .column(i)
                                        .search(this.value)
                                        .draw();
                                }
                            });
                        });


                        var table = $("#data-table-feedback@(i)").DataTable({
                            orderCellsTop: true,
                            fixedHeader: true,
                            responsive: true,
                            dom: 'rt<"dataTables_footer"ip>'

                        });
                    </text>
                }

            });
        </script>*@


    <script>
  

        $(document).ready(function () {
    


            var dataTable = [
                "data-table-feedback0"
                , "data-table-feedback1"
                , "data-table-feedback2"
                , "data-table-feedback3"
                , "data-table-feedback4"
                , "data-table-feedback5"
                , "data-table-feedback6"
                , "data-table-feedback7"
            ];

            $.each(dataTable, function (index, value) {
                $('#' + value).DataTable({
                    responsive: true,
                    dom: 'rt<"dataTables_footer"ip>',
                    "order": [],
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                    }
                });
            });



            //$('#data-table-feedback1 tbody')
            //    .on('mouseenter', 'td', function () {
            //        var colIdx = table.cell(this).index().column;

            //        $(table.cells().nodes()).removeClass('highlight');
            //        $(table.column(colIdx).nodes()).addClass('highlight');
            //    });
        });


    </script>
}

