@model ChangePasswordViewModel
<div class="container">
    <div class="row no-mb">
        <div class="col s12">

            <!-- Content container -->
            <div class="content-container">
                <!-- Page title -->
                <div class="page-title animated fadeInRight">
                    Şifre Değiştir
                </div><!-- .page-title -->

                <div class="entry-content feature_forms animated fadeInUp">
                    @if (string.IsNullOrWhiteSpace(Model.FormMessage) == false)
                    {
                        <div class="alert @(Model.IsSuccess ? "is-primary":"is-danger") mb-4 x-hidden-focus">
                            <p class="alert-title"><i class="fa fa-exclamation"></i> Mesaj</p>
                            <p>@Model.FormMessage</p>
                        </div>
                    }
                    <form method="post" asp-action="ChangePassword" asp-controller="Account">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="OldPassword" type="password" class="validate no-mb">
                                <label for="password">Şifre</label>
                                <span asp-validation-for="OldPassword"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="newPassword" name="NewPassword" type="password" class="validate no-mb">
                                <label for="newPassword">Yeni Şifreniz</label>
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="newPasswordRe" name="NewPasswordRe" type="password" class="validate no-mb">
                                <label for="newPasswordRe">Yeni Şifre Tekrarı</label>
                                <span asp-validation-for="NewPasswordRe"></span>
                            </div>
                        </div>
                        <button type="submit" id="btnSend" class="btn orange block">KAYDET</button>
                    </form>
                </div>
            </div><!-- .content-container -->
        </div><!-- .col s12 -->
    </div><!-- .row -->
</div><!-- .container -->
