@{
    ViewData["Action"] = Url.Action("Create", "Company");
}
<div class="doc forms-doc page-layout simple full-width">

    <!-- HEADER -->
    <div class="page-header bg-primary text-auto p-6 row no-gutters align-items-center justify-content-between">
        <h1 class="doc-title h4" id="content">Firma Ekle</h1>

    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="page-content p-6">
        <div class="content container">
            <div class="row">
                <partial name="_CompanyForm" />
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#frmCompany select").each(function () {
                $(this).select2();
            });
        });
    </script>
}
